*{
	margin: 0px;
	padding: 0px;
	font-family: "Tahoma"
}
#container{
	width: 970px;
	margin-left: 20px;
	height: auto;
}
	header h1{
	    margin-top:15px;
	}
	header p{
		width: 600px;
		margin: 30px 0 15px 0;
	    text-align: justify;
	}
	#images{
		width: 200px;
	}
	#images img:first-child{
		width: 200px;
	}
