*{
	margin: 0px;
	padding: 0px;
	font-family: "Tahoma"
}
#container{
	width: 600px;
	margin-left: 20px;
	height: auto;
	padding: 5px;
	background-color: black;
}
	header{
		color: white;
	}
	header h1{
	    margin-top:15px;
	}
	header p{
		width: 600px;
		margin: 30px 0 15px 0;
	    text-align: justify;
	}
	#images{
		width: 600px;
		display: inline-block;
	}
	#images img{
		width: 290px;
		height: 200px;
		border: 3px solid grey;
		vertical-align: center;
	}
